<div style="width:50%;margin:0 auto;">
<% if user_signed_in? %>
<h2 >Usuario <%=current_user.user_name%></h2>
<p>Perfil 
	<p>ID del usuario: <%=current_user.id%></p>
	<p>Nombre de usuario: <%=current_user.user_name%> </p>
	<p>Correo electronico: <%=current_user.email%></p>
	<p>Permisos: <%=current_user.role%></p>
	<p>Estado: <%=current_user.estado%></p>
	<p>Pass: <%=current_user.pass%></p>
</p>
<br/>

<%@estadisticas.each do |estadistica| %>
<p>Estadistica
	<p>Estadistica del usuario: <%= estadistica.user_id %></p>
	<p>Clasificacion: <%= estadistica.clasificacion %></p>
	<p>Victorias:  <%= estadistica.victorias%></p>
	<p>Derrotas: <%=estadistica.derrotas%></p>
	<p>Empates: <%=estadistica.empates%></p>
</p>
<%end%>
<%else%>
<h2  class="text-center text-muted">Historia del ajedrez</h2>

<p>En la historia del ajedrez el origen del juego sigue siendo controvertido, pero la versión más aceptada es que el ajedrez fue inventado en Asia, probablemente en la India, con el nombre de chaturanga y desde allí se extendió a China, Rusia, Persia y Europa, donde se estableció la normativa vigente. Sin embargo, investigaciones recientes indican un posible origen chino, en la región entre Uzbekistán y la antigua Persia, que se podría remontar hasta el siglo III a. C.</p>

<p>Uno de los registros literarios más antiguos sobre el ajedrez es el poema persa Karnamakg-i-Artakhshatr-i-Papakan, escrito en el siglo VI, y, a partir de esta era, su evolución está mejor documentada y ampliamente aceptada en el mundo académico. Tras la conquista de Persia por los árabes, éstos asimilaron el juego y lo difundieron en Occidente, llevándolo al norte de África y Europa, e incluso la actual España e Italia alrededor del siglo X, desde donde se extendió al resto del continente llegando a la región de Escandinavia e Islandia. En Oriente, el ajedrez se ha expandido desde su versión china, el Xiangqi, a Corea y Japón en el siglo X.</p>

<p>En el siglo XV, el juego fue ampliamente difundido en Europa y entre las variantes existentes del juego, la europea fue el que se destacó por la velocidad indicada por la inclusión de la dama y el alfil. A pesar de que en esa época ya existía literatura de ajedrez, fue en este período cuando comenzaron a surgir el primer análisis de aperturas debido a las nuevas posibilidades de juego.</p>

<p>Las partidas comenzaron a ser registrados con mayor frecuencia y se han publicado más estudios teóricos. En el siglo XVIII se fundaron los primeros clubes para la práctica de ajedrez y federaciones deportivas en Europa, y debido a la gran cantidad de pequeños torneos que ocurren por todo el continente, en 1851 se celebró el primer torneo internacional en Londres. La popularidad de las competiciones internacionales ha llevado a la creación del título de campeón del mundo, ganado por Wilhelm Steinitz en 1886, y, en 1924, se fundó la Federación Internacional de Ajedrez (FIDE), en París, que organiza la primera Olimpiada de Ajedrez y el mundial femenino, ganado por Vera Menchik.</p>

<p>A finales de la década de 1950, con la popularización de las computadoras, comenzaron a surgir los primeros programas que juegan al ajedrez, que acompañaban la evolución del tratamiento de la información e introducirían el juego en la era moderna con competiciones on-line y facilitando el análisis de las partidas.</p>
<%end%>

</div>