<% if user_signed_in? %>
<h2>Bienvenido <%=current_user.user_name%></h2>
<p>Perfil <p>ID del usuario: <%=current_user.id%></p> <p>Nombre de usuario: <%=current_user.user_name%> </p> <p>Correo electronico: <%=current_user.email%></p> <p>Permisos: <%=current_user.role%></p> <p>Estado: <%=current_user.estado%></p></p>
<% else%>
<p>Bienvendo, registrate y descarga el juego, se parte de esta comunidad</p>
<%end%>