<!DOCTYPE html>
<html>
<head>
  <title>Probando weas</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track'  => true %>
	<%= javascript_include_tag 'application','data-turbolinks-track'  =>true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="be-blue white large-padding">
			<url class="no-list row center-xs middle-xs">
				<li class="col-md">
					<h1 class="no-margin " id="logo">Blog Economia</h1>
				</li>
				<li class="col-md">
					<%= link_to "Inicio", root_path %>
				</li>
				<li class="col-md">
					<%= link_to "Articulos", articles_path %>
				</li>
				<li class="col-md">
					<%= link_to "Tecnologia", root_path %>
				</li>
				<li class="col-md">
					<%= link_to "Antecedentes", root_path %>
				</li>
			</url>
		</nav>	
	</header>

<%= yield %>

<div id="footer">
<div id="container">
<p>contenido pie de página </p>	
</div>

</div>
</body>
</html>
